/****************************
      BASE STYLES
****************************/


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  margin: 0;
}


.submit-section {
  margin-top: 60px;
}


h1 {
  font-size:1.40em;
  font-weight: bold;
  color: #fff;
  background: #333;
  margin: 0;
  padding: 30px;
  text-align: center;
}
.sub-header {
  text-align: center;
  margin: 60px 10px;
}

.one {
  border-bottom: 6px solid #000;
  margin: 0 auto;
  max-width: 100%;
}
.two {
  border-top: 3px solid #333;
  margin: 5px auto;
  max-width: 100%;
}

form {
  margin: 40px auto;
  background: #7AD2F0;
  border-radius: 10px;
}

fieldset{
  margin-top: 40px;
  border: none;
}

legend{
  font-size: 1em;
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: bolder;
}

label[for]{
  display: block;
  padding-bottom: 10px;
  font-size: .9em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
textarea,
select {
  border: none;
  font-size: 1em;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 3px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border-radius: 5px;
}

input::-webkit-input-placeholder {
    text-align: right;
    font-style: italic;
    font-size: .8em;
    padding-right: 20px;
}
input::-moz-placeholder {
    text-align: right;
    font-style: italic;
    font-size: .8em;
    padding-right: 20px;
}
input:-moz-placeholder {   /* Older versions of Firefox */
    text-align: right;
    font-style: italic;
    font-size: .8em;
    padding-right: 20px;
}
input:-ms-input-placeholder { 
    text-align: right;
    font-style: italic;
    font-size: .8em;
    padding-right: 20px;

    }

#zip {
  max-width: 30%;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  margin: 15px 0;
}
input[type="submit"] {
  display: inline-block;
  background: #2ABF5E;
  color: #333;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}
input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #ABB1B3;
  color: #000;
  transition: ease-in-out 0.4s;
  opacity: 3;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #045D7A;
  background-color: #ABB1B3;
  color: #000;
  transition: ease-in-out 0.5s;
  opacity: 2;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}


/***********************
MEDIA QUERIES
***********************/

@media screen and ( min-width: 740px) {

  form {
  max-width: 70%;
  margin: 40px auto;
 
}

  .one,
  .two {
    width: 100%;
  }

  label[for] {
    display: inline-block;
    width: 30%;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="checkbox"],
  input[type="radio"],
  select {
    display: inline-block;
    max-width: 68%;
  }
   

}




